/* fieldset{
    border-radius: 2em;
    text-align: justify;
} */


/* 
application no #02 */
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



.quiz{
    display: grid;
    width: 800px;
    height: 600px;
 /* grid-template-rows: 60px auto; */
}

.header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.body{
    background-color: darkkhaki;
    padding: 50px;
}
/* .question{
font-size: xx-large;
} */
.btn{
    background-color: white;
    color: black;
    padding: 15px 20px;
}

.option{

    list-style-type: none;
    background-color: white;
    width: 50%;
    margin-bottom: 15px;
    padding: 15px 20px 20px;
}
.active{
    background-color: black;
    color: cadetblue;
}